

body {
    margin: 0px;
    height: 100vh;
}

.header {
    display : flex;
    background-color: cadetblue;
    width: 100vw;
    height: 7vh;
    justify-content: space-between;
    
    .year-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button {
        border: none;
        background-color: transparent;
        padding: 10px;
    }
    .side-button {
        padding-left: 20px;
        padding-right: 20px;
        width: 20vw;
        align-items: center;
        display: flex;
    }
    .menu-button {
        text-align: left;
    }
    .profile-button {
        text-align: right;
    }
}

.calendar {
    display: grid;
    background-color: burlywood;
    height: 93vh;
    width: 100vw;
    overflow-y: auto;
}

.day-box {
    background-color: coral;
    margin: 2px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid coral;
    .disabled {
        background-color: dimgrey;
    }
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
}