$button-width: calc(100% - 10px);

.sign-in {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
  }
}

.auth-wrapper {
  height: 50%;
  button {
    margin: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    height: 20px;
    border-radius: 3px;
    padding: 1px 10px 1px 10px;
    box-sizing: unset;
    background-color: rgba(200,200,200,0.5);
    cursor: pointer;
  }
  input {
    margin: 5px;
    padding: 0 10px 0 10px;
    border: 1px solid rgba(0,0,0,0.1);
    height: 25px;
    border-radius: 3px;
    background-color: rgba(200,200,200,0.1);
  }
  .sign-up {
    background-color: transparent;
    border: none;
    margin: 5px;
    color: blue;
    width: $button-width;

  }
}


