@import "Colors";

$button-width: calc(100% - 20px);

:export{
  buttonWidth: $button-width;
}

.sign-in {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $primary-ui-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-font-color;
  h1 {
    text-align: center;
  }
}

.auth-wrapper {
  height: 50%;
  button {
    width: $button-width;
    margin: 5px 0 5px 0;
    border: none;
    height: 20px;
    border-radius: 3px;
    padding: 1px 10px 1px 10px;
    box-sizing: unset;
    background-color: transparent;
    cursor: pointer;
  }
  label {
    width: 100%;
    display: flex;
    input {
      margin: 5px;
      border: 1px solid rgba($accent-ui-color, 0.1);
      height: 25px;
      width: $button-width;
      border-radius: 3px;
      background-color: rgba($secondary-ui-color, 0.5);
    }
  }
  .sign-up {
    background-color: transparent;
    border: none;
    margin: 5px 0 5px 0;
    color: $accent-font-color;
    width: $button-width;
  }
}


